#c {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
   }

* {
    font-family: 'Hind Siliguri', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
}


.slides {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0);
}

/* Display Size 
H:970px
w:1912px 

H:750px
W:1272px
*/

.slide {
    position: absolute;
    display: grid;
    background-color: #e7e6e0;
    height: 750px;
    width: 1272px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slide:nth-child(1) {
    z-index: 3;
    grid-template-columns: 2.3585% 30.739% 22.4056% 2.3585% 39.77987% 2.3585%;
    grid-template-rows: 12.533% 4% 10% 4% 53.4666% 4% 8% 4%;
}

.nav {
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 1;
    background: white;
    padding: 1.573%;
    display: grid;
    grid-template-columns: 7fr 3fr;
}

.title {
    grid-column-start: 2;
    grid-column-end: 4 ;
    grid-row-start: 3;
    grid-row-end: 3;
    text-align:justify;
    vertical-align: top;
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 540;
    font-style: normal;
    font-size: 2.932rem;
}

.banner {
    grid-column-start: 1;
    grid-column-end: 1;
    padding-left: 2.3275%;
}

.page_number {
    text-align: right;
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 540;
    font-style: normal;
    font-size: 262.5%;
    vertical-align: middle;
    color: #e4e4e4;
    grid-column-start: 2;
    grid-column-end: 2;
    padding-right: 2.71%;
}

.description {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 5;
}

.info {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 7;
}

.image {
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
}

.image > img {
    object-fit: cover;
    width: 100%;
    height: 118%;
}

.slide:nth-child(2) {
    grid-template-columns: 2.3585% 30.73899% 2.3585% 33.333% 2.3585% 26.4937% 2.3585%;
    grid-template-rows: 12.533% 4% 10% 4% 65.4667% 4%;
}


.viewport {
    grid-row-start: 5;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 2;
}

.viewport > img {
    height: 100%;
    width: 100%;
}

.prototype {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 4;
    grid-column-end: 5;
}

.prototype > img {
    height: 569%;
    width: 100%;
}

.draft {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 6;
    grid-column-end: 6;
}

.draft > img {
    height: 796%;
    width: 100%;
}

.slide:nth-child(3) {
    grid-template-columns: 2.35849% 35.377% 2.35849% 57.5472% 2.35849%;
    grid-template-rows: 12.533% 4% 10% 4% 41.066% 4% 20.4% 4%;
}

.active {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 4;
}

.active > img {
    height: 550%;
    width: 100%;
}

.inactive {
    grid-row-start: 7;
    grid-row-end: 7;
    grid-column-start: 4;
    grid-column-end: 4;
}

.inactive > img {
    object-fit: cover;
    object-position: 50% 65%;
    height: 100%;
    width: 100%;
}

.slide:nth-child(4) {
    grid-template-columns: 2.35849% 30.739% 22.4056% 2.35849% 39.77987% 2.35849%;
    grid-template-rows: 12.533% 4% 10% 4% 53.466% 4% 8% 4%;
}

.slide:nth-child(5) {
    grid-template-columns: 2.35849% 30.739% 10.6132% 27.51572% 2.35849% 24.0566% 2.35849%;
    grid-template-rows: 12.533% 4% 10% 4% 26.8% 4% 30.666% 4% 4%;
}

.close {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
}

.close > img {
    object-fit: cover;
    object-position: 70% 10%;
    height: 100%;
    width: 100%;
}


.slide:nth-child(5) > .info {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 8;
    grid-row-end: 8;
}

.far {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 7;
    grid-row-end: 9;
}

.far > img {
    object-fit: cover;
    object-position: 50% 30%;
    height: 100%;
    width: 100%;
}

.eye_level {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 6;
}

.eye_level > img {
    object-fit: cover;
    object-position: 55% 50%;
    height: 100%;
    width: 100%;
}